doctype html
html(lang="en")
  head
    title reveal.js boiler plate
  body
    .reveal.presentation
      .slides
        section
          section
            include:markdown slides/intro/cover.md
          section
            include:markdown slides/intro/what-is-marble-testing.md
        section
          section
            include:markdown slides/marble-diagrams/intro.md
          section
            include:markdown slides/marble-diagrams/marble-syntax.md
        section
          section
            include:markdown slides/test-scheduler/intro.md
          section
            include:markdown slides/test-scheduler/virtual-scheduler.md
          section
            include:markdown slides/test-scheduler/making-an-ava-test-scheduler.md
          section
            include:markdown slides/test-scheduler/testscheduler-helpers.md
          section
            include:markdown slides/test-scheduler/testscheduler-assertions.md
        section
          section
            include:markdown slides/demo/intro.md
        section
          section
            include:markdown slides/closing/useful-resources.md

  script(type='text/javascript' src="bundle.js")
