doctype html
html(lang="en")
  head
    title reveal.js boiler plate
  body
    .reveal.presentation
      .slides
        section
          section
            include:markdown ./intro/cover.md
          section
            include:markdown ./intro/what-is-marble-testing.md
          section
            include:markdown ./intro/the-tools-of-marble-testing.md
        section
          h1 yo
  script(type='text/javascript' src="bundle.js")
